<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SEAPPS: <%= title%></title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <nav>
        <h1><a href="/"> Service Economy Application</a></h1>
    </nav>    
    
    <a href="/"> 404 ERROR </a>
<footer> Copyright &copy; Service Economy Application Incorporated</footer>
</body>
</html>