<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SEAPPS: <%= title%></title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <nav>
        <h1><a href="/"> Service Economy Application</a></h1>
    </nav>
        <h2> User Log-in</h2>
        <div class="create-login content">
            <form action="/login" method="POST">
              <label for="email">Email: </label>
              <input type="text" id="email" name="email" required>
              <div class="email error"></div>
              <br> <br>
              
              <label for="password">Password:</label>
              <input type="password" id="password" name="password" required>
              <div class="password error"></div>
              
              <a href="/user/signup">Sign-up</a>
              <button>Log-in</button>

              <p> Not a user?</p>
              <a href="/admin/login"> Log-in as Admin</a>
              <a href="/employee/login"> Log-in as Employee</a>
            </form>
          </div>

          <script>
            const form = document.querySelector('form');
            form.addEventListener('submit', (e)=>{
              e.preventDefault();

              //get the values
              const email = form.email.value;
              const password = form.password.value;

              console.log(email, password);
            });
          </script>

          <footer> Copyright &copy; Service Economy Application Incorporated</footer>
        </body>
    </html>