<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SEAPPS: <%= title%></title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <nav>
        <h1><a href="/"> Service Economy Application</a></h1>
    </nav>
        <h2> User Sign-up</h2>
        <div class="create-signup content">
            <form action="/signup" method="POST">
              <label for="name">Full name </label>
              <input type="text" id="name" name="name" required>
              <br> <br>
              
              <label for="email">Email </label>
              <input type="text" id="email" name="email" required>
              <div class="email error"></div>
              <br> <br>

              <label for="password">Password: </label>
              <input type="password" id="password" name="password" required>
              <div class="password error"></div>
              <br> <br>

              <label for="confirm">Confirm Password: </label>
              <input type="password" id="confirmPass" name="confirmPass" required>

              <button>Create Account</button> 
            </form>
          </div>

          <script>
            const form = document.querySelector('form');
            form.addEventListener('submit', (e)=>{
              e.preventDefault();

              //get the values
              const name = form.name.value;
              const email = form.email.value;
              const password = form.password.value;

              console.log(name, email, password);
            });
          </script>

          <footer> Copyright &copy; Service Economy Application Incorporated</footer>
        </body>
    </html>